/target
/.iml
/.ipr
/.iws
/.log
/.idea
/.project
/.classpath
/.settings
/.checkstyle
/.tern-project

/*/target
/*/*.iml
/*/*.ipr
/*/*.iws
/*/*.log
/*/.idea
/*/.project
/*/.classpath
/*/.settings
/*/.checkstyle
/*/.tern-project

/*/*/target
/*/*/*.iml
/*/*/*.ipr
/*/*/*.iws
/*/*/*.log
/*/*/.idea
/*/*/.project
/*/*/.classpath
/*/*/.settings
/*/*/.checkstyle
/*/*/.tern-project

local.properties
